@model MobileShopInMVC.Models.Register;
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<style>

</style>
<form method="post" action="/Account/Login">
    <label>Email:</label>
    <input type="email" name="Email" required />

    <label>Password:</label>
    <input type="password" name="Password" required />

    <button type="submit">Login</button>
</form>
