@model MobileShopInMVC.Models.Users
@{
    ViewData["Title"] = "Register";
}
<h2>Register</h2>
<form asp-action="Register" method="post">
    <input type="text" name="FullName" placeholder="Full Name" required /><br />
    <input type="email" name="Email" placeholder="Email" required /><br />
    <input type="password" name="PasswordHash" placeholder="Password" required /><br />
    <input type="text" name="Gender" placeholder="Gender" required /><br />
    <input type="text" name="Mobile" placeholder="Mobile Number" required /><br />
    <input type="submit" value="Register" />
</form>
