@model MobileShopInMVC.Models.Users
@{
    ViewData["Title"] = "Reset Password";
}
<h2>Reset Password</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="email" value="@ViewBag.Email" />
    <input type="hidden" name="token" value="@ViewBag.Token" />
    <input type="password" name="newPassword" placeholder="Enter new password" required /><br />
    <button type="submit">Reset Password</button>
</form>
